<nd2-include data-src="templates/fragments/panel.left.html"></nd2-include>
<div data-role="header" data-position="fixed">
    <a href="#leftpanel" class="ui-btn ui-btn-left"><i class="fa fa-bars"></i></a>
    <h1>Hampang</h1>
</div>
<div role="main" class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">
    <ul data-role="listview" data-icon="false">
        <li>
            <a href="#">
                <img src="img/Book.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Mga Letra</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/Bulb.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Mga Huni</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/Retina-Ready.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Kunla/Syllables</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/Arrow.png" class="ui-thumbnail ui-thumbnail-circular" />
                <h2>Suli kg Pareho/Synonyms & Antonyms</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </a>
        </li>
    </ul>
</div>
