<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='#colorsAndstyles' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-info-outline zmd-2x'></i><strong>App Info</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#credits' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-account-circle zmd-2x'></i><strong>Authors</strong></a>
	</div>
</div>
