<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-comment-alt-text zmd-2x'></i><strong>Description</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-mic-outline zmd-2x'></i><strong>Translation</strong></a>
	</div>
</div>
